// !Шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// !Обнуление
@import './nullstyle';
// !container
@import './container';

//Vars&properties

$color-red: #fc3314;
$color-pink: #ffd4d0;
$color-dark: #1f1f1f;
$color-darkGrey: #8d8d8d;
$color-mediumGray: #e1e1e1;
$color-grey: #f7f7f7;
$color-white: #ffffff;

html {
  scroll-behavior: smooth;
}

/*тело сайта*/
body {
  font-family: 'Montserrat', sans-serif;
}
//прибиваем footer к низу страницы, запрещаем контенту заходить за пределы экрана
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;

  &__greetings {
    background-color: $color-pink;
  }
  // .content__about

  &__about {
    background-color: $color-dark;
  }

  &__services {
    background-color: $color-white;
  }

  &__portfolio {
    background-color: $color-dark;
  }

  &__communication {
    background-color: $color-pink;
  }
}

.wrapper {
}

.greetings {
  // .greetings__container

  &__container {
  }

  // .greetings__header

  &__header {
  }

  // .greetings__content

  &__content {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin: 32px 124px 0;

    @media (max-width: 1141px) {
      & {
        margin: 10px 124px 0;
      }
    }

    @media (max-width: 1025px) {
      & {
        margin: 10px 40px 0;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 0 20px 0;
      }
    }
  }

  // .greetings__info

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 460px;

    @media (max-width: 813px) {
      & {
        justify-content: space-between;
      }
    }
  }

  // .greetings__image

  &__image {
    margin: 0 0 0 50px;
    align-self: flex-end;

    @media (max-width: 1141px) {
      & {
        margin: 0 0 0 20px;
      }
    }

    & img {
      max-width: 350px;
      height: 100%;

      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-4px) scale(1.02);
      }

      @media (max-width: 1141px) {
        & {
          max-width: 270px;
          max-height: 280px;
        }
      }

      @media (max-width: 813px) {
        & {
          max-width: 270px;
          max-height: 210px;
        }
      }
    }
  }
}

.header-greetings {
  // .header-greetings__row
  padding: 40px 124px 0;

  @media (max-width: 1141px) {
    & {
      padding: 20px 124px 0;
    }
  }

  @media (max-width: 1025px) {
    & {
      padding: 10px 40px 0;
    }
  }

  @media (max-width: 813px) {
    & {
      padding: 10px 20px 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // .header-greetings__title

  &__title {
    padding: 0 5px 0 0;
    font-size: 30px;
    font-weight: 600;
    color: $color-red;
    text-align: center;
    &::first-letter {
      color: $color-dark;
      letter-spacing: -0.25em;
    }
    @media (max-width: 1141px) {
      & {
        font-size: 25px;
      }
    }

    @media (max-width: 813px) {
      & {
        font-size: 20px;
      }
    }
  }

  // .header-greetings__list

  &__list {
    font-size: 18px;
    font-weight: 700;

    & a {
      color: $color-dark;

      &:hover {
        color: $color-red;
      }
    }

    @media (max-width: 1141px) {
      & {
        font-size: 15px;
      }
    }

    @media (max-width: 813px) {
      & {
        font-size: 10px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-4px) scale(1.02);
    }

    & a {
      font-size: 16px;
      font-weight: 700;
      padding: 15px 28px;
      color: $color-white;

      @media (max-width: 1141px) {
        & {
          font-size: 12px;
          padding: 10px 28px;
        }
      }

      @media (max-width: 813px) {
        & {
          font-size: 10px;
          padding: 10px 20px;
        }
      }
    }
  }
}
.list-header {
  // .list-header__body

  &__body {
    display: flex;
  }

  // .list-header__item

  &__item {
    margin: 0 32px 0 0;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-4px) scale(1.02);
    }

    @media (max-width: 1141px) {
      & {
        margin: 0 22px 0 0;
      }
    }
  }
}

.info-greetings {
  // .info-greetings__prevtitle
  margin: 64px 0 0 0;

  @media (max-width: 1141px) {
    & {
      margin: 25px 0 0 0;
    }
  }
  &__prevtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: $color-dark;
    margin: 0 0 25px 0;

    @media (max-width: 1141px) {
      & {
        margin: 0 0 15px 0;
        font-size: 15px;
      }
    }

    @media (max-width: 813px) {
      & {
        font-size: 12px;
        margin: 0 0 10px 0;
      }
    }
  }

  // .info-greetings__title

  &__title {
    padding: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: $color-red;
    &:nth-child(2) {
      color: $color-dark;
    }

    @media (max-width: 1141px) {
      & {
        font-size: 28px;
      }
    }

    @media (max-width: 813px) {
      & {
        font-size: 20px;
        padding: 0 0 5px 0;
      }
    }
  }

  // .info-greetings__subtitle

  &__subtitle {
    margin: 15px 0 48px;
    font-size: 16px;
    font-weight: 400;
    color: $color-dark;
    line-height: 150%;

    @media (max-width: 1141px) {
      & {
        margin: 10px 0 28px;
        font-size: 12px;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 10px 0 0;
        font-size: 10px;
      }
    }
  }

  // .info-greetings__buttons

  &__buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0 0 20px 0;

    @media (max-width: 813px) {
      & {
        margin-top: auto;
        padding: 10px 0;
      }
    }
  }
}

.button-info {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;

    background-color: $color-dark;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-4px) scale(1.02);
    }

    &:nth-child(2) {
      background-color: $color-white;
    }
    & a {
      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      padding: 15px 28px;

      @media (max-width: 1141px) {
        & {
          font-size: 12px;
          padding: 10px 28px;
        }
      }

      @media (max-width: 813px) {
        & {
          font-size: 10px;
          padding: 10px 20px;
        }
      }
    }
    &:nth-child(2) a {
      color: $color-dark;
    }
  }
}

.about {
  // .about__body

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 124px;

    @media (max-width: 1141px) {
      & {
        padding: 20px 124px;
      }
    }

    @media (max-width: 1025px) {
      & {
        padding: 20px 40px;
      }
    }

    @media (max-width: 813px) {
      & {
        padding: 10px 20px;
      }
    }
  }

  // .about__title

  &__title {
    & h1 {
      font-size: 36px;
      font-weight: 700;
      color: $color-white;

      @media (max-width: 1141px) {
        & {
          font-size: 26px;
        }
      }
    }
  }

  // .about__subtitle

  &__subtitle {
    margin: 30px 0 0 0;
    max-width: 810px;

    @media (max-width: 1141px) {
      & {
        margin: 15px 0 0 0;
      }
    }

    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: $color-white;

      @media (max-width: 1141px) {
        & {
          font-size: 12px;
        }
      }
    }
  }

  // .about__experience

  &__experience {
  }
}
.experience-about {
  // .experience-about__title
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // max-width: 1064px;
  margin: 32px 0 0 0;

  @media (max-width: 1141px) {
    & {
      margin: 15px 0 0 0;
    }
  }

  &__row {
    margin: 0 90px 0;
  }

  &__title {
    & h1 {
      font-size: 64px;
      font-weight: 700;
      line-height: 150%;

      @media (max-width: 1141px) {
        & {
          font-size: 30px;
        }
      }
    }
    color: $color-pink;
  }

  // .experience-about__subtitle

  &__subtitle {
    & p {
      font-size: 18px;
      font-weight: 700;
      line-height: 130%;

      @media (max-width: 1141px) {
        & {
          font-size: 12px;
        }
      }
    }
    color: $color-white;
  }
}

// services

.services {
  // .services__body

  &__body {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 64px 124px;

    @media (max-width: 1141px) {
      & {
        margin: 20px 124px;
      }
    }

    @media (max-width: 1025px) {
      & {
        margin: 20px 40px;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 10px 20px;
      }
    }
  }

  // .services__title

  &__title {
    & h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 150%;

      @media (max-width: 1141px) {
        & {
          line-height: 100%;
          font-size: 26px;
        }
      }
    }
    color: $color-dark;
    text-align: center;
    margin: 0 0 24px 0;

    @media (max-width: 1141px) {
      & {
        margin: 0 0 15px 0;
      }
    }
  }

  // .services__subtitle

  &__subtitle {
    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      @media (max-width: 1141px) {
        & {
          font-size: 12px;
          // line-height: 100%;
        }
      }
    }
    color: $color-dark;
    text-align: center;
    max-width: 810px;
    margin: 0 0 32px 0;

    @media (max-width: 1141px) {
      & {
        margin: 0 0 15px 0;
      }
    }
  }

  // .services__items

  &__items {
    display: flex;
    align-items: stretch;

    @media (max-width: 813px) {
      & {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 50px;
      }
    }
  }
}

.item {
  // .item__row

  &__row {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 16px;
    max-width: 274px;
    height: 100%;
    &:not(:last-child) {
      margin: 0 32px 0 0;

      @media (max-width: 1025px) {
        & {
          margin: 0 10px 0 0;
        }
      }

      @media (max-width: 813px) {
        & {
          margin: 0;
          padding: 0 5px;
        }
      }
    }

    &:nth-last-child(-n + 2) {
      @media (max-width: 1141px) {
        & {
          padding: 0 5px 10px;
        }
      }
    }
  }

  // .item__icon

  &__icon {
    margin: 0 0 24px 0;
    & img {
      width: 50px;
      height: 50px;

      @media (max-width: 1141px) {
        & {
          width: 40px;
          height: 40px;
        }
      }
    }

    @media (max-width: 1141px) {
      & {
        margin: 0 0 15px 0;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 0 0 10px 0;
      }
    }
  }

  // .item__title

  &__title {
    margin: 0 0 24px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: $color-dark;
    min-height: 70px;

    @media (max-width: 1141px) {
      & {
        margin: 0;
        font-size: 12px;
        min-height: 50px;
      }
    }

    @media (max-width: 1141px) {
      & {
        min-height: 30px;
      }
    }
  }

  // .item__subtitle

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $color-dark;
    margin-top: auto;

    @media (max-width: 1141px) {
      & {
        font-size: 12px;
      }
    }
  }
}

//portfolio

.portfolio {
  // .portfolio__header

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 64px 124px 30px;

    @media (max-width: 1141px) {
      & {
        padding: 20px 124px;
      }
    }

    @media (max-width: 1025px) {
      & {
        padding: 20px 40px;
      }
    }

    @media (max-width: 813px) {
      & {
        padding: 10px 20px;
      }
    }
  }

  // .portfolio__title

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: $color-white;

    margin: 0 0 32px 0;

    @media (max-width: 1141px) {
      & {
        font-size: 26px;
        line-height: 100%;
        margin: 0 0 15px 0;
      }
    }
  }

  // .portfolio__subtitle

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    max-width: 810px;
    color: $color-white;

    @media (max-width: 1141px) {
      & {
        font-size: 12px;
        // line-height: 130%;
      }
    }
  }

  // .portfolio__grid

  &__grid {
    cursor: auto;
    // display: flex;
  }
}

.swiper {
  max-width: 500px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.portfolio-card {
  // .portfolio-card__preview

  &__preview {
    // display: flex;
    // justify-content: center;
    margin: 0 auto 50px;
    overflow: hidden;
    border-radius: 12px;
    width: 300px;
    height: 400px;

    & video {
      display: block;
      width: 100%;
      height: auto;
      cursor: grab;
    }

    @media (max-width: 1141px) {
      & {
        margin: 0 auto 20px;
        width: 250px;
        height: 350px;
      }
    }
  }
}
.swiper-button-prev {
  --swiper-navigation-size: 64px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #fff;

  @media (max-width: 1141px) {
    & {
      --swiper-navigation-size: 40px;
      --swiper-navigation-top-offset: 50%;
      --swiper-navigation-sides-offset: 65px;
    }
  }
}
.swiper-button-next {
  --swiper-navigation-size: 64px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #fff;

  @media (max-width: 1141px) {
    & {
      --swiper-navigation-size: 40px;
      --swiper-navigation-top-offset: 50%;
      --swiper-navigation-sides-offset: 65px;
    }
  }
}

// communication

.communication {
  // .communication__body

  &__body {
    padding: 124px;
    display: flex;
    flex-direction: row;

    @media (max-width: 1141px) {
      & {
        padding: 20px 124px;
      }
    }

    @media (max-width: 1025px) {
      & {
        padding: 20px 40px;
      }
    }

    @media (max-width: 813px) {
      & {
        padding: 10px 20px;
      }
    }
  }

  // .communication__info

  &__info {
    width: 566px;
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 1141px) {
      & {
        justify-content: space-between;
        height: 299px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.info-comm {
  // .info-comm__title

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: $color-dark;
    margin: 0 0 16px 0;

    @media (max-width: 1141px) {
      & {
        font-size: 26px;
        line-height: 100%;
        margin: 0 0 15px 0;
      }
    }
  }

  // .info-comm__subtitle

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $color-dark;
    margin: 0 0 64px 0;

    @media (max-width: 1141px) {
      & {
        font-size: 12px;
        margin: 0 0 30px 0;
      }
    }
  }

  // .info-comm__contacts

  &__contacts {
  }

  // .info-comm__links

  &__links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: auto;
  }
}
.contacts {
  // .contacts__row

  &__row {
    display: flex;
    flex-direction: row;
    margin: 0 0 32px 0;

    @media (max-width: 1141px) {
      & {
        margin: 0 0 15px 0;
      }
    }
  }

  // .contacts__icon

  &__icon {
    margin: 0 16px 0 0;
  }

  // .contacts__info

  &__info {
    line-height: 120%;
  }
}
.link {
  // .link__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-4px) scale(1.02);
    }

    &:not(:last-child) {
      margin: 0 24px 0 0;
    }

    & img {
      width: 15px;
      height: 15px;
    }
  }
}

.form {
  // .form__item
  width: 100%;
  &__item {
  }

  // .form__label

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $color-darkGrey;

    @media (max-width: 1141px) {
      & {
        font-size: 10px;
      }
    }
  }

  // .form__input

  &__input {
    width: 100%;
    height: 49px;
    padding: 14px 16px;
    margin: 0 0 24px 0;

    @media (max-width: 1141px) {
      & {
        height: 20px;
        padding: 12px;
        margin: 0 0 15px 0;
      }
    }
  }

  // .form__textarea

  &__textarea {
    width: 100%;
    min-height: 168px;
    padding: 14px 16px;
    margin: 0 0 32px 0;
    resize: none;

    @media (max-width: 1141px) {
      & {
        min-height: 120px;
        padding: 12px;
        margin: 0 0 20px 0;
      }
    }
  }

  &__button {
    margin-top: auto;
    max-width: 233px;
    height: 48px;
    background-color: $color-dark;
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-4px) scale(1.02);
    }

    @media (max-width: 1141px) {
      & {
        font-size: 12px;
        max-width: 150px;
        height: 38px;
      }
    }
  }
}

//footer

.footer {
  background-color: $color-dark;

  // .footer__body

  &__body {
    // background: url('../image/shortcut.webp') 0 0 / cover fixed;
    display: flex;
    flex-direction: column;
    margin: 80px 124px;

    @media (max-width: 1141px) {
      & {
        margin: 20px 0;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 10px 20px;
      }
    }
  }

  // .footer__content

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px 64px;

    @media (max-width: 1141px) {
      & {
        margin: 0 5px 40px;
      }
    }

    @media (max-width: 813px) {
      & {
        margin: 0 0 20px 0;
      }
    }
  }

  // .footer__body-links

  &__body-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a {
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-4px) scale(1.02);
        color: $color-red;
      }

      &:first-child {
        margin: 0 32px 0 0;
      }
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
      color: $color-white;

      @media (max-width: 1141px) {
        & {
          line-height: 100%;
          font-size: 15px;
        }
      }
    }
  }

  // .footer__title

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    margin: 0 10px;

    &::first-letter {
      color: $color-white;
      letter-spacing: -0.25em;
    }

    & a {
      display: block;
      transition: transform 0.5s ease;
      color: $color-red;
      &:hover {
        transform: translateY(-4px) scale(1.02);
      }
    }

    @media (max-width: 1141px) {
      & {
        font-size: 26px;
        line-height: 100%;
      }
    }
  }

  // .footer__follow

  &__follow {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $color-white;
    margin: 0 0 32px 0;
    text-align: center;

    @media (max-width: 1141px) {
      & {
        font-size: 12px;
        line-height: 100%;
        margin: 0 0 20px 0;
      }
    }
  }

  // .footer__links

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & img {
      width: 23.33px;
      height: 23.33px;
      filter: brightness(0) invert(1);

      @media (max-width: 1141px) {
        & {
          width: 15px;
          height: 15px;
        }
      }
    }

    & a {
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-4px) scale(1.02);
      }

      &:not(:last-child) {
        margin: 0 32px 0 0;
      }
    }
  }
}
